*{
    margin: 0px;
    padding: 0px;

    
}
.nevbar{
  background-color: rgb(41, 38, 38);
  height: 60px;
  width: auto;
}


nav {
    
    height: 50px;
    
    display: flex;
    justify-content: flex-end;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 80%;
  }
  

  
  li {
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  li:hover {
    border-color: rgb(148, 158, 168);
    background-color: rgb(247, 241, 241);
    transition: all 0.30s ease-in-out;
    font-size: 25px;
    text-decoration: none;
  }
  




